<h1><%= @topic.name %></h1>

<table>
  <tr>
    <td>Date:</td>
    <td><%= topic_date_format(@topic.publish_date) %></td>
  </tr>
  <tr>
    <td>Summary:</td>
    <td><%= simple_format("#{@topic.summary}") %></td>
  </tr>
</table>

<%= link_to "Edit", edit_topic_path(@topic) %><br>
<%= link_to "Back to Topic list", topics_path %>

<section id="handles-section">
<h2>Handles used in this topic</h2>
<div id="handles">
    <%= formatted_handles(@topic.handles) %>
</div>
<hr>
</section>

<section id="posts-section">

<% if @post %>
  <%= render partial: 'posts/form', locals: {post: @post} %>
<% else %>
  <%= render partial: 'posts/form', locals: {post: Post.new(topic_id: @topic.id)} %>
<% end %>

<hr>

<table id="posts-table">
  <thead>
    <tr>
      <td></td>
      <td>Platform</td>
      <td>Content</td>
      <td>Count</td>
      <td>URL</td>
      <td>Scheduled for</td>
      <td>Status</td>
    </tr>
  </thead>
  <tbody id="post-table-body">
  <%# @topic.posts.each do |post| %>
    <%= render @topic.posts.includes(:platform) %>
  <%# end %>
  </tbody>
</table>

</section>