<h1><%= @topic.name %></h1>
<section id="topic-section">
<table>
  <tr>
    <td><h3><%= topic_date_format(@topic.publish_date) %></h3></td>
  </tr>
  <tr>
    <td><%= simple_format("#{@topic.summary}") %></td>
  </tr>
</table>
<div class="button-bar">
  <%= link_to "Edit Topic", edit_topic_path(@topic), method: :get, class: "button" %>
  <%= link_to "Back to Topic list", topics_path, method: :get, class: "button" %>
</div>
<fieldset id="hootsuite-radio-set">
<legend>Hoot Suite file extract</legend>
  <%= form_tag({controller: "posts", action: "extract"}, method: "get") do %>
    <%= hidden_field_tag 'topic', @topic.id %>
    <%= collection_radio_buttons(:platform, :id, Platform.all, :id, :name) %>
    <%= submit_tag "Extract for Hootsuite", class: "button" %>
  <% end %>
</fieldset>
</section>

<section id="handles-section">
<fieldset>
<legend>Handles used in this topic</legend>
  <div id="handles">
      <%= formatted_handles(@topic.handles) %>
  </div>
</fieldset>
<!-- <hr> -->
</section>

<section id="posts-section">
<fieldset id="post-form">
<legend>Post editor</legend>
  <% if @post %>
    <%= render partial: 'posts/form', locals: {post: @post} %>
  <% else %>
    <%= render partial: 'posts/form', locals: {post: Post.new(topic_id: @topic.id)} %>
  <% end %>
</fieldset>
<br>
<table id="posts-table">
  <!-- <thead>
    <tr>
      <td>Platform</td>
      <td>Content</td>
      <td>Count</td>
      <td>URL</td>
      <td>Scheduled for</td>
      <td>Status</td>
      <td></td>
    </tr>
  </thead> -->
  <tbody id="post-table-body">
  <%# @topic.posts.each do |post| %>
    <%= render @topic.posts.includes(:platform).order(:platform_id, :posted_on) %>
  <%# end %>
  </tbody>
</table>

</section>