<%=  form_for @handle do |f| %>
    <p><%= f.text_field :name, placeholder: "@name ..." %></p>
    <p><%= f.text_area :notes, placeholder: "Notes ...", cols: 50, rows: 5 %></p>
    <p><%= f.label "Following us? (yes/no) " %> <%= f.text_field :following , size: 5 %></p>
    <p><%= f.label "Tags  " %><%= f.text_field :tag_list, value: @handle.tag_list.to_s,
      label: "Tags",
        data: {
          placeholder: "Enter tags",
          saved: f.object.tags.map{|t| {id: t.name, name: t.name}}.to_json,
          url: autocomplete_tags_path },
     class: 'tagselect' %></p>
  <%= f.submit class: "button" %>
<% end %>