<h1>Handles</h1>

<%= form_tag({controller: "handles", action: "index"}, method: "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q, nil, placeholder: "tag or tags separated by comma. No quotes needed. Partial tags OK with 'OR'", size: 75) %>
  <%= select_tag "type", options_for_select([ "OR", "AND" ], "OR") %>
  <%= submit_tag "Search", class: "button" %>
<% end %>

<%= link_to "New", new_handle_path, class: "button", id: "new_handle" %>

<table>
  <thead>
    <tr>
      <td>Handle</td>
      <td>Notes</td>
      <td>Followers</td>
      <td>Tweets</td>
      <td>Last Tweet</td>
      <td>Tags</td>
    </tr>
  </thead>
  <tbody>
  <% @handles.each do |handle| %>
    <tr class="handle-row" id="<%= dom_id(handle) %>">
      <td class="name"><%= link_to handle.name, handle_path(handle) %></td>
      <td><%= handle.notes %></td>
      <td><%= handle.followers %></td>
      <td><%= handle.tweets_count %></td>
      <td><%= handle.last_tweet_date %></td>
      <td><%= handle.tag_list.to_s %></td>
    </tr>
  <% end %>
  </tbody>
</table>