<h1>Handles</h1>

<%= form_tag({controller: "handles", action: "index"}, method: "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q, nil, placeholder: "tag or tags separated by comma. No quotes needed. Partial tags accepted", size: 75) %>
  <%= submit_tag "Search", class: "button" %>
<% end %>

<%= link_to "New", new_handle_path, class: "button", id: "new_handle" %>

<table>
  <thead>
    <tr>
      <td>Handle</td>
      <td></td>
      <td>Notes</td>
      <td>Followers</td>
      <td>Following</td>
      <td>Tags</td>
    </tr>
  </thead>
  <tbody>
  <% @handles.each do |handle| %>
    <tr class="handle-row" id="<%= dom_id(handle) %>">
      <td class="name"><%= handle.name %></td>
      <td><%= link_to 'view', handle_path(handle) %></td>
      <td><%= handle.notes %></td>
      <td><%= handle.followers %></td>
      <td><%= handle.following %></td>
      <td><%= handle.tag_list.to_s %></td>
    </tr>
  <% end %>
  </tbody>
</table>