<tr class="post-row" id="<%= dom_id(post) %>">
  <td class="<%= post.platform.name.downcase.gsub(" ","") if post.platform %>"><%= post.platform.name if post.platform %></td>
  <td><%= post_time_format(post.posted_on) if post.posted_on %></td>
  <td class="content"><%= post.content %></td>
  <td class="<%= background_class(post.content.length) %>"><%= post.content.length %></td>
  <td><%= link_to post.url, post.url, target: '_blank' unless post.url.blank? %></td>
  <td><%= post_day_format(post.posted_on) if post.posted_on %></td>
  <td><%= post.status %></td>
  <td><%= link_to "Edit", edit_post_path(post) %></td>
</tr>